body
  section.p404
    h2 Page Not Found
    p Oops! Looks like the file you were trying to access could not be found on this server. Please check that you have the right link and/or bookmark, and try to find the correct address from my front page.
    a(href="http://maria.hagsten.michelsen.dk/") 
      p <u>Go to the front page</u>