include _shared/social

doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title= title
		meta(meta="description" content=description)
		link(rel="stylesheet" href="/styles/base.css")
		block head

	body
		#container
			header
				.title
					.author
						.name
							img(src="/images/Name-large.svg" width="250" height="27" alt="Maria Hagsten Michelsen")
					//- p.tagline= tagline
				.social
					+social()

			#prologue
				.prologue
					.fullname
						img(src="/images/MHM-logo.svg" width="309.6" height="148" alt="MHM logo")				
					p.profession graphic designer
			.border-top

			#content
				.work
					h2 Selected Works
				block content
					!= yield
				.fullportfolio
					a(href="https://www.behance.net/mhmichelsen")
						p See full portfolio on Behance

				.border-bottom

			#epilogue
				.epilogue
					h2.cta Let's make<br/>amazing<br/>design
					.info
						a(href="mailto:maria.hagsten@michelsen.dk")
							p.email maria@michelsen.dk

				.portrait
					img(src="/images/MHM_portrait.jpg" width="438" height="500" alt="Maria Hagsten Michelsen portrait")

		block scripts

		script
			include scripts/project.js
		script
			include ../node_modules/echo-js/dist/echo.min.js
		script.
			echo.init();
