@import 'reset';
@import 'projects';
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	background: #FFFCF7;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	letter-spacing: .035em;
	line-height: 1.45em;
}

h2 {
	font-family: Lato,Helvetica, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 2em;
	letter-spacing: .065em;
	line-height: 1.25;
	margin: 2em 0em 0em 0em;
}

p {
	font-size: 1em;
	font-weight: 300;
	margin-top: 1em;
}
a {
	color: inherit;
	font-weight: 500;
	text-decoration: none;
}
.p404{
	margin: 3.5em;
}

header {
	z-index: 1;
	padding: 3.5em 3.5em 1.75em 3.5em;
	display: flex;
	align-content: stretch;
	height:10vh;

	.title {
		.name{
			// margin: 1.5em 0 1.5em 1.5em;
		}
		p.tagline{
			color: #FFFCF7;
			text-transform: lowercase;
			margin: .25em;
		}
	}
	.social {
		flex: 1;

		ol {
			display: flex;
			float: right;
			
			li {
				margin: 0 0 0 1em;
				align-items: center;
			}
			// li:last-child{
			// 	margin-right: 3.5em;
			// }
		}
	}

	@media (max-width: 600px) {
		padding: 1.5em .5em;
		margin: 0 auto;
		flex-direction: column;

		.title {
			.name{
				text-align:center;
				margin: 1em auto;
				width:100%;
			}
			p.tagline{
				color: #2A2722;
				text-align: center;
				text-transform: lowercase;
			}
		}	
		.social {
			margin: 0 auto;
			ol {
				float: none;
				text-align:center;
				margin: 0 auto 0 auto;
				li {
					margin: 0 0 0 1em;
					align-items: center;
				}
				li:first-child{
					margin:0;
				}		
			}
		}
	}
}

#prologue{
	background: #FFFCF7;
	height: 60vh;
	padding: 3.5em;
	margin-top: -1em;
	.prologue {
		.fullname{
			text-align: center;
			margin: 5.5em auto 0 auto;			
		}
		p.profession{
			font-size: 2em;
			text-align: center;
		}
	}	
}

#epilogue{
	height: 500px;
	// background-color: #ffb526;
	padding: 0;
	border-bottom: 50px solid #FFFCF7;
	.epilogue{
		float:right;
		// width: 50%;
		margin: 3.5em 3.5em 3.5em 0;
		h2.cta{
			margin:0;
			padding:0;
			text-align: right;
			font-size: 3.5em;
			line-height: 1.5;
			color: #ffb526;		
		}
		p.email{
			font-size: 1.5em;
			text-align:right;
			color: #2A2722;
			margin-top:1.5em;
		}	
	}

	.portrait{
		float:left;
		margin: 0 2.5em;
		max-height:400px;
	}
}


@media (max-width: 900px) {
	.prologue{
		height: 350px;
		.fullname{
			margin: 1em auto 0 auto;
		}
		p.profession{
			font-size:1.5em;
			margin:0;
		}
	}
	#epilogue{
		height: auto;
		margin: 0 auto;
		border-bottom: none;
		.epilogue{
			float: none;
			width: auto;
			margin: 0 auto;			
			h2.cta{
				text-align: center;
				padding: 1em;
				margin: 0 auto;	
			}
			p.email{
				text-align: center;
				padding: 0;
				margin: 0 auto;
			}
		}
		.portrait{
			float: none;
			width: auto;
			text-align: center;
			margin: 0 auto;
			padding:0;
			// background-color: #ffb526;
		}
	}
}

@media (max-width: 600px) {
	#prologue{
		height: 250px;
		padding: 2.5em .5em;
		.prologue .fullname{
			margin: 1.5em auto 0 auto;
		}
		.prologue p.profession{
			font-size: 2em;
			line-height: 1.25;
			margin: 0;
		}
	}	
	#epilogue{
		padding: 0;
		.epilogue {
			margin:0;
			h2.cta{
				font-size:2.5em;
				text-align: center;
				margin: .5em 0 0 0;
			}
			p.email{
				font-size: 1em;
				margin: 0 auto 2.5em auto;
			}
		}
		.portrait{
			width:100%;
			img{
				overflow:hidden;
				max-width:100%;
				height:auto;
			}
		}
	}	
}