mixin menu()
  nav
    a.navbutton(href="http://maria.michelsen.dk/#content") Portfolio
    a.navbutton(href="http://maria.michelsen.dk/#about") About    
    //- a.navbutton(href="mailto:maria@michelsen.dk") Email            