mixin social()
  ol
    li
      a(href="https://www.behance.net/mhmichelsen" target="_blank")
        img(src="/images/MHM-Icon_Behance.svg" width="35" height="35" alt="Behance.net")
    li
      a(href="https://dribbble.com/mhmichelsen" target="_blank")
        img(src="/images/MHM-Icon_Dribbble.svg" width="35" height="35" alt="Dribbble.com")        
    li
      a(href="https://www.linkedin.com/in/mhmichelsen/" target="_blank")
        img(src="/images/MHM-Icon_LinkedIn.svg" width="35" height="35" alt="LinkedIn.com")    
    li
      a(href="https://medium.com/@mhmichelsen" target="_blank")
        img(src="/images/MHM-Icon_Medium.svg" width="35" height="35" alt="Medium")       
    li
      a(href="https://www.instagram.com/mhmichelsen/" target="_blank")
        img(src="/images/MHM-Icon_Instagram.svg" width="35" height="35" alt="Instagram")  
    li
      a(href="mailto:maria@michelsen.dk" target="_blank")
        img(src="/images/MHM-Icon_Email.svg" width="35" height="35" alt="Instagram")                        

  